<div class="container-fluid">
    <div class="row">
        <div class="col my-5 text-center">
            <h1>Thanks for buying!</h1>
            <h3>Your transaction was successful</h3>
            <img src="images/tick.svg" alt="" class="image-card my-3">
            <p>Your book will arrive soon</p>
            <button class="btn btn-lg primary-btn">See purchase details</button>
        </div>
    </div>
</div>