html{
	height: 100%;
}

body{
	background-color: rgb(225, 225, 225);
	min-height: 100%;
}

#entire-page{
	max-width: 800px;
	margin: 0 auto;
}

main{
	padding: 8px;
}
.primary-color{
	background-color: #001529
}
.primary-btn{
	background-color: #B288C0 !important;
	color: white !important;
}
.primary-btn:hover{
	background-color: #9437C9 !important;

}
.link{
	color: #B288C0 !important;
}
.link:hover{
	color: #9437C9 !important
}
.card{
	background-color: rgb(242, 240, 243) !important;
}
.image-card{
	max-height: 10em;
	object-fit: contain;
}
.image-show-one{
	max-height: 20em;
	object-fit: contain;
}

.nav > .active{
	background-color: #9437C9 !important;
	color: white !important;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}